@charset "utf-8";

:root {
  --bg-color-main: #a0d901;
  --bg-color-2: #000000;
  --text-color-main: #000000;
  --text-color-2: #ffffff;
  --text-color-3: #4f6b00;
  --text-color-4: #3a6d8c;
  --text-color-5: #542870;
  --text-color-6: #404040;
  --text-color-footer: #aaaaaa;
  --header-height: 70px;
  --padding: 10px;
}

* {
    font-family: 'JetBrains Mono';
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--header-height)
                        + 2 * var(--padding) 
                        + 15px
    );
}

body {
  background-color: var(--bg-color-main);
}

.shakey {
    display: inline-block;
    font-weight: 900;
    animation: shake 0.6s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

