@charset "utf-8";

:root {
    --bg-color-main: #a0d901;
    --bg-color-2: #000000;

    --text-color-main: #000000;
    --text-color-2: #ffffff;
    --text-color-3: #4f6b00;
    --text-color-4: #3a6d8c;
    --text-color-5: #542870;
    --text-color-6: #404040;
    --text-color-footer: #aaaaaa;

    --header-height: 70px;
    --footer-height: 60px;

    --padding: 10px;
    --main-padding: 10%;
  }