@charset "utf-8";
@import "vars.css";

footer {
    height: var(--footer-height);
    width: 100%;
    margin-top: auto;
    padding: var(--padding);
    background-color: var(--bg-color-2);
    color: var(--text-color-2);
}
