@import "jetbrains-mono.css";

:root {
    --bg-color-main: #a0d901;
    --bg-color-2: #000000;
    --text-color-main: #000000;
    --text-color-2: #ffffff;
    --header-height: 80px;
    --footer-height: 100px;
}

* {
    font-family: 'JetBrains Mono';
}

body {
    margin: 0;
}

header {
    display: flex;
    position: sticky;
    padding: 10px;
    width: 100%;
    height: 60px;
    background-color: var(--bg-color-2);
    color: var(--text-color-2);
}

header > img {
    object-fit: contain;
}

main {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    background-size: cover;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-main);
    color: var(--text-color-main);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    padding: 10px;
    background-color: var(--bg-color-2);
    color: var(--text-color-2);
}
