@charset "utf-8";
@import "vars.css";
@import "jetbrains-mono.css";
@import "header.css";
@import "footer.css";
@import "glossary.css";

* {
    font-family: 'JetBrains Mono';
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--header-height)
                        + 2 * var(--padding) 
                        + 15px
    );
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 150px;
    background: var(--bg-color-main);
    width: calc(100% - 2 * var(--padding));
    margin: 0;
}

main {
    margin-left: 5%;
    margin-right: 5%;
    padding: var(--padding);
    padding-top: calc(var(--header-height) + 2 * var(--padding));
    color: var(--text-color-main);
    height: 100%;
    width: auto;
}

h1 {
    text-decoration: overline;
}

.shakey {
    display: inline-block;
    font-weight: 900;
    animation: shake 0.6s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.section-title {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.section-title > h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}

.section-title > p, .section-title > a {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.section-title-separator {
    margin: 0 1rem 0 1rem;
    font-size: 2rem;
}

.section-title-line {
    margin: 1rem;
    flex-grow: 1;
    align-self: center;
    border: 1px solid var(--text-color-3);
}

.update-date {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--text-color-3);
}

section {
    margin-left: 2%;
}
