@charset "utf-8";
@import "jetbrains-mono.css";
@import "header.css";
@import "footer.css";

* {
    font-family: 'JetBrains Mono';
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 150px;
    width: calc(100% - 2 * var(--padding));
    margin: 0;
}

main {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    background-size: cover;
    width: 100%;
    padding: var(--padding);
    background-color: var(--bg-color-main);
    color: var(--text-color-main);
}

.section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-title-separator {
    margin: 0 1rem 0 1rem;
}

.update-date {
    font-size: 0.8rem;
    font-weight: bold;
    color: #4f6b00;
}
