@charset "utf-8";
@import "vars.css";

.glossary {
    font-style: italic;
    line-height: 1.7rem;
    margin-bottom: 2rem;
}

.glossary-word {
    color: var(--text-color-4);
    font-weight: 900;
    text-decoration: none;
    font-style: normal;
    transition: 0.3s all;
}

.glossary-word:hover {
    color: var(--text-color-2);
}

.glossary-word-def {
    font-style: normal;
    font-weight: 900;
    /* text-decoration: overline; */
}
