@charset "utf-8";
@import "vars.css";

.glossary {
    font-style: italic;

    line-height: 14px;
    margin-bottom: 10px;
}

.glossary-word {
    color: var(--text-color-4);
    font-weight: 900;
    text-decoration: none;
    font-style: normal;
    transition: 0.3s all;
}

.glossary-word:hover {
    color: var(--text-color-2);
}

.glossary-word-def {
    font-style: normal;
    font-weight: 900;
    text-decoration: overline;
}



/* mobile landscape */
@media all and (min-width: 480px) {
    .glossary {
        line-height: 16px;
        margin-bottom: 12px;
    }
}



/* tablet */
@media all and (min-width: 768px) {
    .glossary {
        line-height: 18px;
        margin-bottom: 14px;
    }
}



/* desktop */
@media all and (min-width: 1024px) {
    .glossary {
        line-height: 20px;
        margin-bottom: 14px;
    }
}



/* desktop wide */
@media all and (min-width: 1200px) {

}
