@charset "utf-8";
@import "vars.css";

/* mobile / base */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: var(--padding);
    width: 100%;
    height: var(--header-height);
    background-color: var(--bg-color-2);
    color: var(--text-color-2);
}

header > a > img {
    height: 55px;
    object-fit: contain;
}

#navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#navbar > a {
    color: var(--text-color-2);
    text-decoration:overline;
    transition: 0.3s all;
}

#navbar > a:hover {
    color: var(--bg-color-main);
}

#current-page {
    color: var(--bg-color-main) !important;
}



/* mobile landscape */
@media all and (min-width: 480px) {

}



/* tablet */
@media all and (min-width: 768px) {

}



/* desktop */
@media all and (min-width: 1024px) {

}



/* desktop wide */

@media all and (min-width: 1200px) {

}
