@charset "utf-8";
@import "vars.css";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: var(--padding);
    width: 100%;
    height: 60px;
    background-color: var(--bg-color-2);
    color: var(--text-color-2);
}

header > a > img {
    height: 55px;
    object-fit: contain;
}

#navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#navbar > a {
    color: var(--text-color-2);
    text-decoration:overline;
    transition: 0.3s all;
}

#navbar > a:hover {
    color: var(--bg-color-main);
}