@import "global.css";
@import "vars.css";

section > p {
    margin: 0.8rem 0 0 1.5rem;
    line-height: 1.6rem;
}

.project-language {
    font-weight: bold;
}

.project-link {
    font-weight: bold;
    text-decoration: overline;
    color: var(--text-color-5);
    transition: 0.3s all;
}

.project-link:hover {
    color: var(--text-color-2);
}
