@import "global.css";
@import "vars.css";

/* mobile / base */

.project-language {
    font-weight: bold;
}

.project-link {
    font-weight: bold;
    text-decoration: overline;
    color: var(--text-color-5);
    transition: 0.3s all;
}

.project-link:hover {
    color: var(--text-color-2);
}



/* mobile landscape */
@media all and (min-width: 480px) {

}



/* tablet */
@media all and (min-width: 768px) {

}



/* desktop */
@media all and (min-width: 1024px) {

}



/* desktop wide */
@media all and (min-width: 1200px) {

}
