@charset "utf-8";

:root {
    --bg-color-main: #a0d901;
    --bg-color-2: #000000;
    --text-color-main: #000000;
    --text-color-2: #ffffff;
    --text-color-3: #4f6b00;
    --text-color-4: #7d5f52;
    --text-color-5: #542870;
    --header-height: 60px;
    --footer-height: 100px;
    --padding: 10px;
}
